# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.gz
*.rpm
.DS_Store

# stuff
.nfs*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# cscope files
cscope.*

# more specific files
s3bench
